<article class="articleContent">
  <% if (post.title){ %>
  <div class="articleHeader">
    <h1><%= post.title %></h1>
  </div>
  <% } %>

  <div class="articleMeta">
    <iconpark-icon name="calendar"></iconpark-icon>
    <span class="date"><%= date(post.date) %></span>
  </div>

  <div class="articleBody" itemprop="articleBody">
    <% if (post.excerpt && index){ %>
    <%- post.excerpt %>
    <% if (config.excerpt_link){ %>
    <p>
      <a class="article-more-link" href="<%- url_for(post.path) %>">
        <%= config.excerpt_link %>
      </a>
    </p>
    <% } %>
    <% } else { %>
    <%- post.content %>
    <% } %>
  </div>
  <div id="vcomments"></div>
</article>
<script src="<%= source_url('/js/valine.1.15.1.js', env.env === 'production') %>">
</script>
<script>
  new Valine({
    el: '#vcomments',
    serverUrls: 'https://ssapi.esmyy.com',
    appId: 'HIPSmz3qt9iZF654dkSgfXr2-MdYXbMMI', // Your LeanCloud appId
    appKey: 'IIZyd4Ee0LH46v96sUQFgo7V' // Your LeanCloud appKey
  })
</script>