<%
const summary = post.excerpt || post.content.replace(/<[^>]*>/ig, ' ').slice(0, 160)
const categories = post.categories.slice(0, 2)
let poster = get_first_img(post)
%>
<div class="articleCard">
    <% if (poster) { %>
        <img class="picture" src="<%= poster %>"/>
    <% } %>
    <div class="articleDetail">
        <div>
            <div class="title-box">
                <a class="title" href="<%= post.path %>"><%= post.title %></a>
            </div>
            <p class="summary"><%= summary %></p>
        </div>
        <div class="footer">
            <div class="item date-box">
                <iconpark-icon name="calendar"></iconpark-icon>
                <span class="value"><%= date(post.date, 'YYYY-MM-DD') %></span>
            </div>
            <% if (post.categories.length) { %>
                <div class="item">
                    <iconpark-icon name="folder-open-70fn6ne7"></iconpark-icon>
                    <span class="value">
                    <%- partial('_partial/tags', { isPure: true, tags: post.categories}) %>
                </span>
                </div>
            <% } %>

            <% if (post.tags.length) { %>
                <div class="item">
                    <iconpark-icon name="tag-one"></iconpark-icon>
                    <span class="value">
                    <%- partial('_partial/tags', { isPure: true, tags: post.tags}) %>
                    </span>
                </div>
            <% } %>
        </div>
    </div>
</div>
