<div class="firstScreen <%= is_home_first_page() ? 'homeFirstPage' : '' %>" id="firstScreen" style="background-image: url(<%= img_url(config.firstScreen.image, env.env === 'production') %>)">
  <div class="lifeCard">
    <p>有时怡然，洵美且好</p>
    <p>靠近美好，创造想要的生活</p>
  </div>
  <div class="pictureIntroduction" style="color: <%= config.firstScreen.textColor %>">
    <%- config.firstScreen.description %>
    <%- config.firstScreen.addr %>
    <%- config.firstScreen.date %>
  </div>
  <div class="scrollDownWrapper" id="scrollDownWrapper">
    <div class="scrollDown">
      <iconpark-icon name="double-down" size="32" color="#fff"></iconpark-icon>
    </div>
  </div>
</div>