<%
var tags = page.tags ? page.tags.data : '';
var favicon = config.favicon
%>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>
    <%= (page.title || config.title) + (page.title ? ' | ' + config.title : '') %>
  </title>
  <meta name="description" content="<%= config.description %>">
  <%
  if(tags){ %>
  <meta name="keywords" content="
  <%= tags.map(function(tag) {
    return tag.name
  }).join(',') %>
  ">
  <% } %>
  <meta name="author" content="<%= config.author %>">
  <meta name="theme-color" content="#1e2327">
    <script src="<%= config.root %>js/headScript.js"></script>
    <script src="https://lf1-cdn-tos.bytegoofy.com/obj/iconpark/icons_20170_46.9093dbd766690862bebeb6b9021a824f.js"></script>
  <link rel="apple-touch-icon" href="https://github.githubassets.com/apple-touch-icon.png">
  <link rel="icon" type="image/x-icon" href="<%= favicon %>">
  <link rel="stylesheet" href="<%= config.root %>css/main.css">
</head>
