<%
var pathname = page.path.replace('index.html', '')
var photosActive = /categories\/photos/.test(pathname)
var talkActive = /categories\/talk/.test(pathname)
var readingActive = /categories\/reading/.test(pathname)
var archivesActive = /archives/.test(pathname)
var tagActive = /tags/.test(pathname)
var categoriesActicve = /categories\/$/.test(pathname)
var homeActive = /^(\/?index.html)?$/.test(pathname)
var lastPhoto = get_last_of(site, 'photo')
var lastReading = get_last_of(site, 'reading')
var lastTalk = get_last_of(site, 'talk')
%>
<header>
  <div class="mainContent headerContent">
    <ul class="menus">
      <li class="<%= homeActive ? 'selected' : '' %>">
        <a href="/">
          <iconpark-icon name="book-open"></iconpark-icon>
          <span>首页</span>
        </a>
      </li>
      <% if (lastTalk) {%>
      <li class="<%= talkActive ? 'selected' : '' %>">
        <a href="/categories/talk">
          <iconpark-icon name="message-emoji"></iconpark-icon>
          <span>说说</span>
        </a>
      </li>
      <%}%>
      <% if (lastPhoto) {%>
      <li class="<%= photosActive ? 'selected' : '' %>">
        <a href="/categories/photos">
          <iconpark-icon name="camera"></iconpark-icon>
          <span>照片</span>
        </a>
      </li>
      <%}%>
      <% if (lastReading) {%>
      <li class="<%= readingActive ? 'selected' : '' %>">
        <a href="/categories/reading">
          <iconpark-icon name="read-book"></iconpark-icon>
          <span>阅读</span>
        </a>
      </li>
      <%}%>

      <li class="<%= tagActive ? 'selected' : '' %>">
      <a href="/tags">
        <iconpark-icon name="tag-one"></iconpark-icon>
        <span>标签</span>
      </a>
      </li>
      <li class="<%= categoriesActicve ? 'selected' : '' %>">
        <a href="/categories">
          <iconpark-icon name="document-folder"></iconpark-icon>
          <span>分类</span>
        </a>
      </li>
      <li class="<%= archivesActive ? 'selected' : '' %>">
        <a href="/archives">
          <iconpark-icon name="calendar-thirty-two"></iconpark-icon>
          <span>时间轴</span>
        </a>
      </li>
    </ul>
  </div>
  <a class="avatar-box" href="https://github.com/esmyy">
    <img class="avatar" src="https://avatars.githubusercontent.com/u/20430185?v=4" alt="马月月头像" />
    <div class="status-box"></div>
  </a>
</header>