<%
var posts = page.posts;
var year = new Date().getFullYear() + 1 + ''
%>
<div class="timelineWrapper">
  <div class="timeline">
    <% posts.forEach(function(post) { %>
    <% if (date(post.date, 'YYYY') != year) { %>
    <% year = date(post.date, 'YYYY') %>
    <div class="timelineItem year"><%= year %></div>
    <% } %>

    <div class="timelineItem">
      <div class="date">
        <%= date(post.date) %>
      </div>
      <a href="<%= url_for(post.path) %>" class="title">
        <%= post.title %>
      </a>
      <div class="excerpt ellipse">
        <%= get_excerpt(post) %>...
      </div>

      <%
      var poster = get_poster(post)
      %>
      <% if (poster) { %>
      <img class="poster" src="<%= img_url(poster, env.env === 'production') %>" />
      <% } %>
    </div>
    <% }) %>
  </div>
  <% if (page.total > 1) {%>
  <div class="paginatorWrapper">
    <%- paginator({
        base: '/archives/',
        current: page.current,
        total: page.total,
        prev_next: true,
        page_class: 'pageNum',
        next_text: '>',
        prev_text: ''
      }) %>
  </div>
  <% } %>
</div>