<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>
<body>
<div id="esmyy">
    <% if (is_home_first_page()) {%>
    <%- partial('_partial/first-screen.ejs') %>
    <% } %>
    <%- partial('_partial/header') %>
    <main class="mainContent">
        <%- body %>
    </main>
    <%- partial('_partial/footer') %>
</div>
</body>
</html>
