<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head') %>
<body>
<%- partial('_partial/leancloud') %>
<%
const isPure = page.layout === 'pure'
%>
<div id="esmyy">
    <% if (isPure) {%>
        <main class="mainContent">
            <%- body %>
        </main>
    <%} else {%>
        <%- partial('_partial/first-screen.ejs') %>
        <%- partial('_partial/header') %>
        <main class="mainContent">
            <%- body %>
        </main>
        <%- partial('_partial/footer') %>
        <%- partial('_partial/back-top.ejs') %>
    <%}%>
</div>
</body>
</html>
